
 
        /* Styling the Body element i.e. Color,
        Font, Alignment */
        body {
            background-color: #afbbde;
            font-family: Verdana;
            text-align: center;
        }
 
        /* Styling the Form (Color, Padding, Shadow) */
        form {
            background-color: #fff;
            max-width: 500px;
            margin: 50px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        }
 
        /* Styling form-control Class */
        .form-control {
            text-align: left;
            margin-bottom: 25px;
            font-weight: bold;
        }
 
        /* Styling form-control Label */
        .form-control label {
            display: block;
            margin-bottom: 10px;
        }
 
        /* Styling form-control input,
        select, textarea */
        .form-control input,
        .form-control select,
        .form-control textarea {
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }
        .form-control-name {
            text-align: left;
            font-weight: bold;            
            margin-bottom: 25px;
        }
        
        .inline {
            display: inline;
          }
          .form-control-fname {
            text-align: left;
            width: 45%;
            float: left;
        }
 
          .form-control-lname {
            text-align: left;
            width: 50%;
            float: right;
        }
        .fname-helper { 
            font-weight: normal;
        }
        .lname-helper {           
            padding-left: 200px;
            font-weight: normal;
        }
        .checked {
            color: rgb(255, 168, 6);
          }
         
 
        /* Styling form-control Radio
        button and Checkbox */
        /* .form-control input[type="radio"],
        .form-control input[type="checkbox"] {
            display: inline-block;
            width: auto;
        }
  */
        /* Styling Button */
        button {
           float: left;
        }
       .thead {
            font-size: 8px;
            font-weight: normal;
          }
   